.visibility {
  overflow: hidden;
  max-height: 100vh; }

.visibility-inv {
  overflow: hidden;
  max-height: 0; }

.trigger {
  display: none; }

.welcome,
.searching,
.found {
  height: 0;
  text-align: center; }

.spacer {
  height: 200px; }

.other-spacer {
  height: 30px; }

.icon-space {
  display: inline-block;
  width: 10px; }
  .icon-space ~ i {
    margin-left: 3px; }

.welcome {
  -webkit-transition: opacity 0.6s cubic-bezier(0.3, 0.3, 0.02, 1);
  -moz-transition: opacity 0.6s cubic-bezier(0.3, 0.3, 0.02, 1);
  transition: opacity 0.6s cubic-bezier(0.3, 0.3, 0.02, 1); }
  .welcome h1 {
    margin-top: 0; }
  .welcome .spacer {
    height: 100px;
    -webkit-transition: height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1);
    -moz-transition: height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1);
    transition: height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1); }
  .welcome .visibility {
    -webkit-transition: max-height 0s linear 0.6s;
    -moz-transition: max-height 0s linear 0.6s;
    transition: max-height 0s linear 0.6s; }

.searching {
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 0.6s;
  -moz-transition: opacity 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 0.6s;
  transition: opacity 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 0.6s; }
  .searching .spacer {
    -webkit-transition: height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 0.6s;
    -moz-transition: height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 0.6s;
    transition: height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 0.6s; }

#results-trigger:checked ~ .welcome {
  opacity: 0; }
  #results-trigger:checked ~ .welcome .visibility {
    max-height: 0; }
  #results-trigger:checked ~ .welcome .spacer {
    height: 0; }

#results-trigger:checked ~ .searching {
  opacity: 1;
  -webkit-animation: searching-fadeout 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.2s forwards;
  -moz-animation: searching-fadeout 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.2s forwards;
  -o-animation: searching-fadeout 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.2s forwards;
  animation: searching-fadeout 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.2s forwards; }
  #results-trigger:checked ~ .searching .spacer {
    height: 100px;
    -webkit-animation: searching-height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.2s forwards;
    -moz-animation: searching-height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.2s forwards;
    -o-animation: searching-height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.2s forwards;
    animation: searching-height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.2s forwards; }
  #results-trigger:checked ~ .searching .visibility-inv {
    max-height: 100vh;
    -webkit-animation: searching-visibility 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.8s forwards;
    -moz-animation: searching-visibility 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.8s forwards;
    -o-animation: searching-visibility 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.8s forwards;
    animation: searching-visibility 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.8s forwards; }

.found {
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.8s;
  -moz-transition: opacity 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.8s;
  transition: opacity 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.8s; }
  .found .spacer {
    -webkit-transition: height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.8s;
    -moz-transition: height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.8s;
    transition: height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 4.8s; }

.results {
  opacity: 0; }
  .results .spacer {
    height: 100px; }
  .results .visibility-inv {
    max-height: 0;
    -webkit-transition: max-height 0s linear 6.9s;
    -moz-transition: max-height 0s linear 6.9s;
    transition: max-height 0s linear 6.9s; }

.bbar,
.recommended,
.everythingelse {
  opacity: 0; }

.progress-bar {
  margin-left: -100%; }

#results-trigger:checked ~ .found {
  opacity: 1; }
  #results-trigger:checked ~ .found .spacer {
    height: 100px;
    -webkit-animation: searching-height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 6.4s forwards;
    -moz-animation: searching-height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 6.4s forwards;
    -o-animation: searching-height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 6.4s forwards;
    animation: searching-height 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 6.4s forwards; }
  #results-trigger:checked ~ .found .visibility-inv {
    max-height: 300px; }

#results-trigger:checked ~ .results {
  opacity: 1; }
  #results-trigger:checked ~ .results .visibility-inv {
    max-height: 2000px; }
  #results-trigger:checked ~ .results .recommended {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.0s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.0s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.0s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.0s forwards; }
  #results-trigger:checked ~ .results .bar-0 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.5s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.5s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.5s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.5s forwards; }
    #results-trigger:checked ~ .results .bar-0 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.7s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.7s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.7s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.7s forwards; }
  #results-trigger:checked ~ .results .bar-1 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.6s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.6s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.6s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.6s forwards; }
    #results-trigger:checked ~ .results .bar-1 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.8s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.8s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.8s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.8s forwards; }
  #results-trigger:checked ~ .results .bar-2 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.7s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.7s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.7s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.7s forwards; }
    #results-trigger:checked ~ .results .bar-2 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.9s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.9s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.9s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.9s forwards; }
  #results-trigger:checked ~ .results .bar-3 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.8s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.8s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.8s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.8s forwards; }
    #results-trigger:checked ~ .results .bar-3 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.0s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.0s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.0s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.0s forwards; }
  #results-trigger:checked ~ .results .bar-4 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.9s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.9s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.9s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 7.9s forwards; }
    #results-trigger:checked ~ .results .bar-4 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.1s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.1s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.1s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.1s forwards; }
  #results-trigger:checked ~ .results .everythingelse {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.1s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.1s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.1s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.1s forwards; }
  #results-trigger:checked ~ .results .bar-5 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.6s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.6s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.6s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.6s forwards; }
    #results-trigger:checked ~ .results .bar-5 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.8s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.8s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.8s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.8s forwards; }
  #results-trigger:checked ~ .results .bar-6 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.7s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.7s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.7s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.7s forwards; }
    #results-trigger:checked ~ .results .bar-6 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.9s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.9s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.9s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.9s forwards; }
  #results-trigger:checked ~ .results .bar-7 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.8s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.8s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.8s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.8s forwards; }
    #results-trigger:checked ~ .results .bar-7 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.0s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.0s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.0s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.0s forwards; }
  #results-trigger:checked ~ .results .bar-8 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.9s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.9s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.9s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 8.9s forwards; }
    #results-trigger:checked ~ .results .bar-8 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.1s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.1s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.1s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.1s forwards; }
  #results-trigger:checked ~ .results .bar-9 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.0s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.0s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.0s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.0s forwards; }
    #results-trigger:checked ~ .results .bar-9 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.2s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.2s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.2s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.2s forwards; }
  #results-trigger:checked ~ .results .bar-10 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.1s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.1s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.1s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.1s forwards; }
    #results-trigger:checked ~ .results .bar-10 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.3s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.3s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.3s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.3s forwards; }
  #results-trigger:checked ~ .results .bar-11 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.2s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.2s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.2s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.2s forwards; }
    #results-trigger:checked ~ .results .bar-11 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.4s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.4s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.4s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.4s forwards; }
  #results-trigger:checked ~ .results .bar-12 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.3s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.3s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.3s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.3s forwards; }
    #results-trigger:checked ~ .results .bar-12 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.5s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.5s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.5s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.5s forwards; }
  #results-trigger:checked ~ .results .bar-13 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.4s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.4s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.4s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.4s forwards; }
    #results-trigger:checked ~ .results .bar-13 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.6s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.6s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.6s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.6s forwards; }
  #results-trigger:checked ~ .results .bar-14 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.5s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.5s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.5s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.5s forwards; }
    #results-trigger:checked ~ .results .bar-14 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.7s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.7s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.7s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.7s forwards; }
  #results-trigger:checked ~ .results .bar-15 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.6s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.6s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.6s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.6s forwards; }
    #results-trigger:checked ~ .results .bar-15 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.8s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.8s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.8s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.8s forwards; }
  #results-trigger:checked ~ .results .bar-16 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.7s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.7s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.7s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.7s forwards; }
    #results-trigger:checked ~ .results .bar-16 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.9s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.9s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.9s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.9s forwards; }
  #results-trigger:checked ~ .results .bar-17 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.8s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.8s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.8s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.8s forwards; }
    #results-trigger:checked ~ .results .bar-17 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.0s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.0s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.0s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.0s forwards; }
  #results-trigger:checked ~ .results .bar-18 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.9s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.9s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.9s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 9.9s forwards; }
    #results-trigger:checked ~ .results .bar-18 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.1s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.1s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.1s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.1s forwards; }
  #results-trigger:checked ~ .results .bar-19 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.0s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.0s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.0s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.0s forwards; }
    #results-trigger:checked ~ .results .bar-19 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.2s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.2s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.2s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.2s forwards; }
  #results-trigger:checked ~ .results .bar-20 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.1s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.1s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.1s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.1s forwards; }
    #results-trigger:checked ~ .results .bar-20 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.3s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.3s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.3s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.3s forwards; }
  #results-trigger:checked ~ .results .bar-21 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.2s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.2s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.2s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.2s forwards; }
    #results-trigger:checked ~ .results .bar-21 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.4s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.4s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.4s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.4s forwards; }
  #results-trigger:checked ~ .results .bar-22 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.3s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.3s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.3s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.3s forwards; }
    #results-trigger:checked ~ .results .bar-22 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.5s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.5s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.5s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.5s forwards; }
  #results-trigger:checked ~ .results .bar-23 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.4s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.4s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.4s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.4s forwards; }
    #results-trigger:checked ~ .results .bar-23 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.6s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.6s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.6s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.6s forwards; }
  #results-trigger:checked ~ .results .bar-24 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.5s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.5s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.5s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.5s forwards; }
    #results-trigger:checked ~ .results .bar-24 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.7s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.7s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.7s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.7s forwards; }
  #results-trigger:checked ~ .results .bar-25 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.6s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.6s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.6s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.6s forwards; }
    #results-trigger:checked ~ .results .bar-25 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.8s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.8s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.8s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.8s forwards; }
  #results-trigger:checked ~ .results .bar-26 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.7s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.7s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.7s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.7s forwards; }
    #results-trigger:checked ~ .results .bar-26 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.9s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.9s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.9s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.9s forwards; }
  #results-trigger:checked ~ .results .bar-27 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.8s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.8s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.8s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.8s forwards; }
    #results-trigger:checked ~ .results .bar-27 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.0s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.0s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.0s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.0s forwards; }
  #results-trigger:checked ~ .results .bar-28 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.9s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.9s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.9s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 10.9s forwards; }
    #results-trigger:checked ~ .results .bar-28 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.1s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.1s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.1s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.1s forwards; }
  #results-trigger:checked ~ .results .bar-29 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.0s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.0s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.0s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.0s forwards; }
    #results-trigger:checked ~ .results .bar-29 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.2s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.2s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.2s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.2s forwards; }
  #results-trigger:checked ~ .results .bar-30 {
    -webkit-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.1s forwards;
    -moz-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.1s forwards;
    -o-animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.1s forwards;
    animation: bar-animate 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.1s forwards; }
    #results-trigger:checked ~ .results .bar-30 .progress-bar {
      -webkit-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.3s forwards;
      -moz-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.3s forwards;
      -o-animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.3s forwards;
      animation: bar-margin 0.6s cubic-bezier(0.3, 0.3, 0.02, 1) 11.3s forwards; }

@-webkit-keyframes searching-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes searching-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes searching-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes searching-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes searching-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes searching-visibility {
  0% {
    max-height: 100vh; }
  100% {
    max-height: 0; } }
@-moz-keyframes searching-visibility {
  0% {
    max-height: 100vh; }
  100% {
    max-height: 0; } }
@-ms-keyframes searching-visibility {
  0% {
    max-height: 100vh; }
  100% {
    max-height: 0; } }
@-o-keyframes searching-visibility {
  0% {
    max-height: 100vh; }
  100% {
    max-height: 0; } }
@keyframes searching-visibility {
  0% {
    max-height: 100vh; }
  100% {
    max-height: 0; } }
@-webkit-keyframes searching-height {
  0% {
    height: 100px; }
  100% {
    height: 0; } }
@-moz-keyframes searching-height {
  0% {
    height: 100px; }
  100% {
    height: 0; } }
@-ms-keyframes searching-height {
  0% {
    height: 100px; }
  100% {
    height: 0; } }
@-o-keyframes searching-height {
  0% {
    height: 100px; }
  100% {
    height: 0; } }
@keyframes searching-height {
  0% {
    height: 100px; }
  100% {
    height: 0; } }
@-webkit-keyframes bar-animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes bar-animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes bar-animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes bar-animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes bar-animate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes bar-margin {
  0% {
    margin-left: -100%; }
  100% {
    margin-left: 0; } }
@-moz-keyframes bar-margin {
  0% {
    margin-left: -100%; }
  100% {
    margin-left: 0; } }
@-ms-keyframes bar-margin {
  0% {
    margin-left: -100%; }
  100% {
    margin-left: 0; } }
@-o-keyframes bar-margin {
  0% {
    margin-left: -100%; }
  100% {
    margin-left: 0; } }
@keyframes bar-margin {
  0% {
    margin-left: -100%; }
  100% {
    margin-left: 0; } }

/*# sourceMappingURL=style.css.map */
